 <?xml version="1.0" encoding="utf-8"?>

<!--

  For more information on how to configure your ASP.NET application, please visit

  http://go.microsoft.com/fwlink/?LinkId=169433

  -->

<configuration>

  <connectionStrings>

    <add name="edoPLwrEntities" connectionString="metadata=res://*/App_Code.plwo.csdl|res://*/App_Code.plwo.ssdl|res://*/App_Code.plwo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;attachdbfilename=|DataDirectory|\testsample.mdf;integrated security=True;user instance=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <add name="testsampleConnectionString1" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\testsample.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient" />

  </connectionStrings>

  <system.web>

    <!--this is used for creating a profile-->

    <profile>

      <properties>

        <add name="FirstName"/>

        <add name="LastName"/>

        <add name ="turkey"/>

        <add name="DateOfBirth" type="System.DateTime"/>

        <add name="Bio"/>

        <!--the ` must have no space, if it does, then it breaks since it does not know what generic list you are refering to-->

        <add name="FavoriteGenres" type="System.Collections.Generic.List`1[System.Int32]"/>

      </properties>

    </profile>    

       <roleManager enabled="true" />

 <!--this changes the password config settings here instead of messing with it on machine.config-->

    <membership>

      <providers>

        <clear/> <!--clear is needed to remove the original settings/overide defaults in machine.config-->

        <add name="AspNetSqlMembershipProvider"

             type="System.Web.Security.SqlMembershipProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"

             connectionStringName="LocalSqlServer"

             enablePasswordRetrieval="false"

             enablePasswordReset="true"

             requiresQuestionAndAnswer="false"

             applicationName="/"

             requiresUniqueEmail="false"

             passwordFormat="Hashed"

             maxInvalidPasswordAttempts="5"

             minRequiredPasswordLength="6"

             minRequiredNonalphanumericCharacters="1"

             passwordAttemptWindow="10"

             passwordStrengthRegularExpression=""/>

      </providers>

    </membership>

     <!-- used for authentication to see if a user is logged in or not-->

    <authentication mode="Forms">



      <!--this additional part is used because Login.aspx is the default and it is case sensative-->

      <forms loginUrl="login.aspx" />



    </authentication>

   

    <pages theme="Monochrome">

      <!--this does site wide configuration of the banner controls-->

      <controls>

        <add tagPrefix="retardedAd" tagName="banner" src="~/Control/banner.ascx" />

      </controls>

    </pages>



    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">

      <assemblies>

        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />

        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />

        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />

      </assemblies>

      <buildProviders>

        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />

      </buildProviders>

    </compilation>



    

     





<!--the contact form uses a control from the control folder check book section for controls-->



  </system.web>

  <system.net>

    <mailSettings>

      <smtp deliveryMethod="SpecifiedPickupDirectory" from="bob@bob.com">

        <specifiedPickupDirectory pickupDirectoryLocation="C:\eraseme" />

      </smtp>

    </mailSettings>
  </system.net>

  <!--i added a method for the purpose of denying access to the management folder-->

  <location 

    path ="mangement">

    <system.web>

      <authorization>

        <allow roles="Managers"/>

        <deny users="*"/>

      </authorization>

    </system.web>

  </location>

  <!--this blocks unauthenticated users can be done programmatically p.612-->

  <location

    path ="myprofiles.aspx">

    <system.web>

      <authorization>

        <deny users="?"/>

      </authorization>

    </system.web>

  </location>



</configuration>